
.grooveLogo{
    width: 100px;
    height: 100px;
}
.main-body{
  display: flex;
  justify-content: space-between;
  width: 90vw;
}
.dashboard{
  position: relative;
  height: 95%;
  width: 95vw;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.dashboard-body{
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  gap: 10px;
}

/* .card{
  width: 180px;
  height: 220px;
  border-radius: 12px;
  flex-direction: column;
  padding: 2px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.card-img{
  position: relative;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  object-fit: cover;
  flex: 3;
}
.card-details{
  flex: 1;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
} */

/* Hover effect: Slide up details */
/* .card:hover .card-details {
  max-height: 100px;
} */